@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?37wjkb');
  src:  url('../fonts/icomoon.eot?37wjkb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?37wjkb') format('truetype'),
    url('../fonts/icomoon.woff?37wjkb') format('woff'),
    url('../fonts/icomoon.svg?37wjkb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activity:before {
  content: "\e900";
}
.icon-add:before {
  content: "\e901";
}
.icon-arrow-bottom:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-arrow-top:before {
  content: "\e905";
}
.icon-delete:before {
  content: "\e906";
}
.icon-dismiss:before {
  content: "\e907";
}
.icon-download:before {
  content: "\e908";
}
.icon-exclusive:before {
  content: "\e909";
}
.icon-favorite:before {
  content: "\e90a";
}
.icon-list:before {
  content: "\e90b";
}
.icon-love:before {
  content: "\e90c";
}
.icon-moment:before {
  content: "\e90d";
}
.icon-not-favorite:before {
  content: "\e90e";
}
.icon-playlist:before {
  content: "\e90f";
}
.icon-play-list:before {
  content: "\e910";
}
.icon-play-random:before {
  content: "\e911";
}
.icon-play-singal:before {
  content: "\e912";
}
.icon-program:before {
  content: "\e913";
}
.icon-recommend:before {
  content: "\e914";
}
.icon-search:before {
  content: "\e915";
}
.icon-setting:before {
  content: "\e916";
}
.icon-share:before {
  content: "\e917";
}
.icon-singer:before {
  content: "\e918";
}
.icon-songlist:before {
  content: "\e919";
}
.icon-song-next:before {
  content: "\e91a";
}
.icon-song-pause:before {
  content: "\e91b";
}
.icon-song-play:before {
  content: "\e91c";
}
.icon-song-prev:before {
  content: "\e91d";
}
.icon-style:before {
  content: "\e91e";
}
.icon-type-language:before {
  content: "\e91f";
}
.icon-type-mood:before {
  content: "\e920";
}
.icon-type-scene:before {
  content: "\e921";
}
.icon-type-style:before {
  content: "\e922";
}
.icon-type-theme:before {
  content: "\e923";
}
.icon-user:before {
  content: "\e924";
}
.icon-vip:before {
  content: "\e925";
}
